* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: #f6f7fb;
}

.progressSteps {
    display: flex;
    align-items: center;
}

.step {
    width: 30px;
    height: 30px;
    background-color: #fff;
    color: rgb(175, 163, 163);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 3px solid rgb(217, 207, 207);
}

.step.active {
    border: 3px solid rgb(60, 167, 255);
}

.line {
    width: 80px;
    height: 4px;
    background-color: rgb(217, 207, 207);
}

.line.active {
    background-color: rgb(60, 167, 255);
}

.progressButtons {
    display: flex;
    gap: 15px;
}

.button {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 10px 33px;
}

.button:disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
}